@import './common.scss';
.Kline_scope {
  z-index: 1;
}

.fb_5 {
  font-weight: 500;
}

.stock_msg {
  text-align: center;
}

ec-canvas {
  width: 400px;
  height: 240px;
}

.news_List {
  position: relative;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  overflow-x: hidden;
  /* font-size: 60px; */
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.flex-cell {
  flex: 1;
}

.item {
  margin: 2px;
}

.tab_title {
  text-align: center;
  width: auto;
  border-bottom: 1px solid #999;
  padding: 5px;
  margin-bottom: 10px;
  border-top: 1px solid #999;
  font-family: cursive;
}

.tab {
  display: inline;
  margin: 10px 15px;
}

.tabselected {
  display: inline;
  margin: 10px 15px;
  color: red;
}

.list {
  padding: 0;
}

.list-item {
  height: 70px;
  margin: 0 15px;
  border-bottom: 1px solid #f5f5f5;
  width: 90%;
  padding-bottom: 10px;
}

.item-title {
  display: inline-block;
  padding-top: 15px;
  line-height: 20px;
}

.image-wrapper {
  float: right;
  padding-top: 15px;
}

.item-image {
  width: 75px;
  height: 60px;
}

.multipic {
  display: block;
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 40px;
  height: 16px;
  font-size: 12px;
  color: #fff;
  background: #000;
  opacity: 0.7;
  text-align: center;
  line-height: 16px;
}

.news-none {
  text-align: center;
  padding: 30px;
}

.stock_info {
  font-size: 14px;
}

.stock_nMatch {
  font-size: 35px;
}

.stock_name {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: -8px;
  left: 22px;
}

.stock_detail {
  width: 100%;
  text-align: center;
}

.stockSummary_li {
  float: left;
  display: block;
  width: 100%;
  padding: 20px;
}

.stockSummary_span {
  margin-left: 20px;
}

.circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: #ffb6c1;
  /* 宽度和高度需要相等 */
  position: relative;
  top: -225px;
  right: -285px;
}

.circle_txt {
  color: red;
  width: 30px;
  position: relative;
  left: 11px;
  top: 5px;
  font-size: 12px;
}
